.navbar {
    background: rgb(67, 69, 82);
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #3b3229;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.bg-dark {
    background-color: #343a40 !important
}

.bg-primary {
    background-color: #343a40 !important
}