h1 {
  text-align: center;
}

td img {
  width: 25px;
}

.jumbotron p {
  font-size: 1.2em;
}

.jumbotron {
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: #b3b2b1;
}
body{
  font-family: 'Work Sans', sans-serif;  
}

html,
body {
  min-height: 100%;
}

.overlay.onclick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}