html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 5rem;
    height: 4rem;
}

.ion-navicon-round {
    font-size: 2rem;
}

h1 {
    font-size: 1rem;
    margin: 1rem;
}

.total-summary p {
    margin: 0 1rem .5rem 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    background-color: black;
    color: white;
}

.total-summary {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
}

.port-value {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.port-change {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.token-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.token-container a{
    text-decoration: none;
    margin: .2rem 0;
}

.token img {
    margin: .25rem 0;
}

.headings {
    display: flex;
    justify-content: space-between;

    margin: 0;
    background-color: black;
    color: white;
}

.headings h1 {
    text-align: center;
    width: 25%;
    margin: 1rem .5rem 1rem .5rem;
}

.colum-container {
    text-align: center;
    width: 25%;
}

.ticker {
    display: block;
}

.plus {
    text-align: center;
}

footer {
    text-align: center;
}

.copyright {
    color: #5e5e5e;
    font-weight: 300;
    font-size: .65rem;
}

.hide{
    text-align: center;
    border: 2px solid grey;
    border-radius: 5%;
    padding: 0 0 1% 0;
    width: 300px;
    margin: 0 auto 2% auto;
    display: none;
}

.coin-search {
    background: no-repeat scroll 10px 10px;
    border-radius: 5%;
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
}

.coin-select {
    font-size: 2rem;
}

.hide2 {
    font-size: 2rem;
    display: none;
    color: black; 
}

.hide1 {
    font-size: 2rem;
    display: block;
    color: black;
}

.ion-plus-circled:hover,
.ion-close-round:hover {
    cursor: pointer;
    color: grey;
}

.add-close {
    font-size: 1.3rem; 
}
